/* здесь подключите шрифты */
@font-face {
  font-family: "Comfortaa";
  font-display: swap;
  src: url("../../fonts/Comfortaa/Comfortaa-VariableFont_wght.woff2") format("woff2"),
    url("../../fonts/Comfortaa/Comfortaa-VariableFont_wght.woff") format("woff");
}

@font-face {
  font-family: "Raleway";
  font-display: swap;
  src: url("../../fonts/Raleway/Raleway-VariableFont_wght.woff2") format("woff2"),
    url("../../fonts/Raleway/Raleway-VariableFont_wght.woff") format("woff");
}
