/* здесь подключите шрифты */
@font-face {
  font-family: "Comfortaa";
  src: url("fonts/Comfortaa-VariableFont_wght.woff2") format("woff2"),
    url("fonts/Comfortaa-VariableFont_wght.woff") format("woff");
}

@font-face {
  font-family: "Raleway";
  src: url("fonts/Raleway-VariableFont_wght.woff2") format("woff2"),
    url("fonts/Raleway-VariableFont_wght.woff") format("woff");
}
