/* здесь используйте глобальные переменные */

/* breakpoints */
$tablet-width: 768px;
$desktop-width: 1440px;

/* colors */
$background-color-white: #FBFCFE;
$background-color-blue-gray: #F1F6FC;
$background-color-leaf-gray: fade-out(#8E9892, 0.7);

$accent-color-purple: #6A107A;
$accent-color-green: #0F805D;

$text-color-black: #000000;
$text-color-white: #FBFCFE;
$text-color-leaf-gray: fade-out(#8E9892, 0.7);

$purple-hover: #B22EC8;
$purple-disabled: fade-out(#6A107A, 0.6);
$green-hover: #7BDB0A;
$green-disabled: fade-out(#0F805D, 0.5);
$error-color: #FF8282;

/* fonts */
$h1-font:400 52px "Comfortaa";
$h1-tablet-font:400 48px "Comfortaa";
$h1-mobile-font:400 36px "Comfortaa";

$h2-font:400 52px "Comfortaa";
$h2-tablet-font:400 48px "Comfortaa";
$h2-mobile-font:400 36px "Comfortaa";

$h3-font:400 28px "Raleway";
$h3-mobile-font:400 20px "Raleway";

$link-font:400 20px "Raleway";

$big-accent-font:400 18px "Raleway";
$big-accent-mobile-font:400 16px "Raleway";

$text-font:400 16px "Raleway";
$text-mobile-font:400 14px "Raleway";

