.checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  color: $accent-color-green;

  appearance: none;
  position: relative;
  width: 24px;
  height: 24px;
  background: transparent;
  border-radius: 5px;
  border: 2px solid currentColor;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    background-color: currentColor;
    mask-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='11' viewBox='0 0 14 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5 11L0 5.80381L1.59 4.19048L5 7.7L12.41 0L14 1.65524L5 11Z' fill='currentColor'/%3e%3c/svg%3e ");
    mask-repeat: no-repeat;
  }

  &:checked::after {
    width: 14px;
    height: 11px;
  }

  &:focus {
    box-shadow: inset 0 0 2px $text-color-black;
  }

  &:hover {
    color: $green-hover;
  }

  &:disabled {
    color: $text-color-leaf-gray;
  }
}
