.logo {
  display: inline-block;
  line-height: 0;
  cursor: pointer;

  width: 52px;
  height: 52px;

  color: $accent-color-green;

  @media (min-width: $tablet-width) {
    width: 133px;
    height: 60px;
  }

  @media (min-width: $desktop-width) {
    width: 135px;
    height: 60px;
  }

  &:link,
  &:visited {
    color: $accent-color-green;
  }

  &:hover,
  &:focus {
    color: $green-hover;
  }
  &:active {
    color: $green-disabled;
  }

  & svg {
    display: block;
    width: 52px;
    height: 52px;

    &:nth-child(2) {
      display: none;
    }

    @media (min-width: $tablet-width) {
      &:nth-child(1) {
        display: none;
      }

      &:nth-child(2) {
        display: block;
        width: 133px;
        height: 60px;
      }
    }

    @media (min-width: $desktop-width) {
      &:nth-child(2) {
        width: 135px;
        height: 60px;
      }
    }
  }
}
