.order {
  display: flex;
  justify-content: center;

  margin-top: 63px;

  @media (min-width: $tablet-width) {
    margin-top: 101px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 268px;

    @media (min-width: $tablet-width) {
      width: 624;
    }

    @media (min-width: $desktop-width) {
      width: 792px;
    }
  }

  &__title {
    height: 80px;

    text-align: center;

    font: $h1-mobile-font;
    color: $accent-color-green;

    @media (min-width: $tablet-width) {
      font: $h1-tablet-font;
    }

    @media (min-width: $desktop-width) {
      font: $h1-font;
    }
  }

  &__subtitle {
    text-align: center;

    font: $big-accent-mobile-font;
    color: $text-color-black;

    margin-top: 32px;
    margin-bottom: 41px;

    @media (min-width: $tablet-width) {
      margin-top: 24px;
      margin-bottom: 36px;

      font: $big-accent-font;
      width: 480px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 47px;

      font: $big-accent-font;
      width: 550px;
    }
  }

  &__form {
    margin-top: 50px;

    @media (min-width: $tablet-width) {
      margin-top: 73px;
      width: 100%;
    }

    @media (min-width: $desktop-width) {
      margin-top: 62px;
    }
  }

  &__caption {
    font: $h3-mobile-font;
    color: $accent-color-green;

    @media (min-width: $tablet-width) {
      font: $h3-font;
      padding: 0 70px;

      &:last-of-type {
        text-align: center;
      }
    }

    @media (min-width: $desktop-width) {
      padding: 0;

      &:last-of-type {
        text-align: left;
      }
    }
  }

  &__list {
    margin-top: 40.5px;
    margin-bottom: 50px;

    @media (min-width: $tablet-width) {
      margin-top: 40.5px;
      margin-bottom: 50px;

      padding: 0 70px;
    }

    @media (min-width: $desktop-width) {
      margin-top: 48.5px;
      margin-bottom: 58px;

      padding: 0;
    }
  }

  //chbox1
  &__list:first-of-type {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, auto);
    grid-auto-flow: column;

    grid-row-gap: 32px;
    grid-column-gap: 20px;

    text-transform: lowercase;

    @media (min-width: $tablet-width) {
      grid-row-gap: 24px;
      grid-column-gap: 50px;

      grid-template-columns: minmax(134px, auto) 1fr 1fr;
      grid-template-rows: repeat(4, auto);
    }

    @media (min-width: $desktop-width) {
      grid-row-gap: 24px;
      grid-column-gap: 48px;

      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }
  }

  //chbox2
  &__list:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    gap: 23px;

    text-transform: lowercase;

    @media (min-width: $tablet-width) {
      margin-top: 40px;
      margin-bottom: 48px;

      flex-direction: row;
      flex-wrap: wrap;
      height: 72px;
      flex-flow: column wrap;
      justify-content: space-between;

      column-gap: 13px;
    }

    @media (min-width: $desktop-width) {
      margin-top: 47px;
      margin-bottom: 48.5px;

      height: min-content;

      flex-direction: row;
      justify-content: left;
      gap: 49px;
    }
  }

  //radio-button
  &__list:nth-of-type(3) {
    display: flex;
    flex-direction: column;
    gap: 31px;
    padding-left: 2px;
    margin-top: 31px;

    @media (min-width: $tablet-width) {
      flex-direction: row;

      // padding-left: 71.5px;
      padding: 0;
      justify-content: center;
      margin-top: 40.5px;
      margin-bottom: 45px;
      gap: 27px;

      .order__item:first-of-type {
        padding-left: 3px;
      }

      .order__item:last-of-type {
        width: 255px;
      }
    }

    @media (min-width: $desktop-width) {
      justify-content: left;

      margin-top: 48px;
      margin-bottom: 45px;

      gap: 50px;

      .order__item:first-of-type {
        padding-left: 1.5px;
        & br:not(:nth-of-type(1)) {
          display: none;
        }
      }

      .order__item:last-of-type {
        width: max-content;

        & br:not(:nth-of-type(1)) {
          display: none;
        }
      }
    }

    & .order__label {
      gap: 13px;
    }
  }

  //inputs
  &__list:last-of-type {
    display: flex;
    flex-direction: column;
    gap: 35.5px;

    margin-top: 31px;
    margin-bottom: 35.5px;

    line-height: 0;

    & .order__item {
      line-height: 0;
    }

    & .order__label {
      padding-left: 11.5px;
      gap: 4px;
      margin-bottom: 4px;

      font: $text-mobile-font;
    }

    @media (min-width: $tablet-width) {
      display: grid;

      grid-column-gap: 24px;
      grid-row-gap: 36px;

      grid-template-areas:
        "name ."
        "phone email"
        "address address"
        "wish wish";

      margin-top: 40.5px;
      margin-bottom: 40px;

      padding: 0;
      font: $text-font;

      & .order__label {
        font: $text-font;
      }

      & .order__item:nth-of-type(1) {
        grid-area: name;
      }
      & .order__item:nth-of-type(2) {
        grid-area: phone;
      }
      & .order__item:nth-of-type(3) {
        grid-area: email;
      }
      & .order__item:nth-of-type(4) {
        grid-area: address;
      }
      & .order__item:nth-of-type(5) {
        grid-area: wish;
      }
    }

    @media (min-width: $desktop-width) {
      width: 624px;

      margin-top: 50px;
      margin-bottom: 47.5px;
    }
  }

  &__item {
    font: $big-accent-mobile-font;

    @media (min-width: $tablet-width) {
      font: $big-accent-font;
    }

    & span {
      color: $error-color;

      font: $text-font;
    }
  }

  &__label {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__input[name="address"] {
    min-height: 88px;
    resize: none;

    @media (min-width: $tablet-width) {
      min-height: 0;
      height: 52px;
    }
  }

  &__input[name="comment"] {
    min-height: 124px;
    resize: none;

    @media (min-width: $tablet-width) {
      min-height: 144px;
    }
  }

  &__button {
    margin-left: auto;
    margin-right: auto;

    @media (min-width: $tablet-width) {
      &.button--big {
        width: 336px;
        height: 68px;

        font: $h3-font;
      }
    }
  }
}
